Django==3.2
djangorestframework==3.12.4
psycopg2-binary==2.9.5
python-dotenv==0.20.0
djoser==2.2.0
Pillow==9.5.0
django-filter==23.1
reportlab==3.6.12
django-cors-headers==3.14.0
asgiref==3.3.2
gunicorn==20.0.4
psycopg2-binary==2.9.5
sqlparse==0.4.2